<h1><%= @item.name %></h1>

<ul>
  <%= image_tag @item.image.url(:large) %>
  <li><%= @item.price %>руб.</li>
  <li><%= @item.description %></li>
  <li>Вес: <%= @item.weight %>кг.</li>
 
</ul>
<%= link_to "Редактировать", edit_item_path %>